@import "tailwindcss";

@theme {
  --color-mercado-livre: #ffe600;
  --color-background: #ededed;
  --color-card-border: rgba(0, 0, 0, 0.1);
  --color-green: #00a650;
  --color-gray: rgba(0, 0, 0, 0.55);
  --color-blue-primary: #3483fa;
  --color-blue-secondary: rgba(65, 137, 230, 0.15);
  --color-blue-dark: #2968c8;
}

body {
  @apply bg-background;
}

button {
  cursor: pointer;
}

.container {
  width: 1184px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
